
//sidebar
$home-sidebar-bg: #3f4650;
$sidebar-bg: #343741;
$sidebar-children-bg: #262c34;

$nav-bg: #3f4650;
$color-theme: #409EFF; // 主题颜色
$color-white: #ffffff;
$color-gray: #e1e1e1;

$text-xs: 10px;
$text-sm: 12px;
$text-df: 14px;
$text-lg: 16px;
$text-xl: 18px;


